.frame-child6 {
  position: relative;
  width: 1159px;
  height: 2px;
}
.frame-parent10 {
  position: absolute;
  top: 3392px;
  left: 139px;
  width: 1160px;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
