.jobs-available7,
.project-management {
  position: absolute;
  top: 83px;
  left: 56px;
}
.project-management {
  top: 0;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 177px;
  height: 63px;
}
.frame-inner {
  position: absolute;
  height: 43.27%;
  width: 17.56%;
  top: 8.65%;
  right: 82.44%;
  bottom: 48.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jobs-available-parent1 {
  position: relative;
  width: 233px;
  height: 104px;
}
.homepage-inner7 {
  position: absolute;
  top: 1107px;
  left: 1092px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  width: 318px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
