.frame-child4 {
  position: absolute;
  top: 14px;
  left: 62.38px;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet);
  width: 1162px;
  height: 523px;
}
.rectangle-parent {
  position: absolute;
  top: 2424px;
  left: 76.62px;
  width: 1224.38px;
  height: 537px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
